In [17]:
import psycopg2

# Function to read the db connection info
def read_db_connection_info(filename="../../db_connection_info.txt"):
    connection_info = {}
    with open(filename, 'r') as file:
        for line in file:
            key, value = line.strip().split('=')
            connection_info[key] = value
    return connection_info

# Load the connection info
connection_info = read_db_connection_info()

try:
    # Connect to the database
    conn = psycopg2.connect(
        host=connection_info["host"],
        user=connection_info["user"],
        password=connection_info["password"],
        dbname=connection_info["database"],
        port=connection_info["port"]
    )
    cursor = conn.cursor()

    # Query for total rows
    query_total_rows = """
    SELECT COUNT(*) AS total_rows
    FROM data_mapping
    WHERE ships_idx BETWEEN 1000 AND 1900;
    """
    cursor.execute(query_total_rows)
    total_rows = cursor.fetchone()[0]
    print(f"Total rows where ships_idx is between 1000 and 1900: {total_rows}")

    # Query for distinct ships_idx
    query_distinct_ships_idx = """
    SELECT COUNT(DISTINCT ships_idx) AS distinct_ships_count
    FROM data_mapping
    WHERE ships_idx BETWEEN 1000 AND 1900;
    """
    cursor.execute(query_distinct_ships_idx)
    distinct_ships_count = cursor.fetchone()[0]
    print(f"Distinct ships_idx between 1000 and 1900: {distinct_ships_count}")

    # Close the cursor and connection
    cursor.close()
    conn.close()
    
except Exception as e:
    print(f"An error occurred: {e}")

Total rows where ships_idx is between 1000 and 1900: 21141
Distinct ships_idx between 1000 and 1900: 50

In [18]:
try:
    # Connect to the database
    conn = psycopg2.connect(
        host=connection_info["host"],
        user=connection_info["user"],
        password=connection_info["password"],
        dbname=connection_info["database"],
        port=connection_info["port"]
    )
    cursor = conn.cursor()

    # SQL query to join data_mapping and ships, then find unique ships_idx, their ship_numbers, and counts
    query = """
    SELECT dm.ships_idx, s.ship_number, COUNT(dm.*) AS row_count
    FROM data_mapping dm
    JOIN ships s ON dm.ships_idx = s.idx
    WHERE dm.ships_idx BETWEEN 1000 AND 1900
    GROUP BY dm.ships_idx, s.ship_number
    ORDER BY dm.ships_idx;
    """
    cursor.execute(query)

    # Fetch and print the result
    results = cursor.fetchall()
    for ships_idx, ship_number, count in results:
        print(f"ships_idx: {ships_idx}, Ship Number: {ship_number}, Row Count: {count}")

    # Close the cursor and connection
    cursor.close()
    conn.close()
    
except Exception as e:
    print(f"An error occurred: {e}")

ships_idx: 1000, Ship Number: ISS_HHIS868, Row Count: 125
ships_idx: 1001, Ship Number: ISS_HHI8222, Row Count: 575
ships_idx: 1002, Ship Number: ISS_HSHI8053, Row Count: 516
ships_idx: 1003, Ship Number: ISS_HHI3388, Row Count: 521
ships_idx: 1004, Ship Number: ISS_HHI3301, Row Count: 411
ships_idx: 1005, Ship Number: ISS_HMDS503, Row Count: 356
ships_idx: 1006, Ship Number: ISS_HMD8346, Row Count: 299
ships_idx: 1007, Ship Number: ISS_HMD8328, Row Count: 299
ships_idx: 1008, Ship Number: ISS_HMD8320, Row Count: 393
ships_idx: 1009, Ship Number: ISS_HSHI8124, Row Count: 698
ships_idx: 1010, Ship Number: ISS_HSHIS871, Row Count: 209
ships_idx: 1011, Ship Number: ISS_HSHI8132, Row Count: 520
ships_idx: 1012, Ship Number: ISS_HSHI8117, Row Count: 314
ships_idx: 1014, Ship Number: ISS_HHI8052, Row Count: 516
ships_idx: 1015, Ship Number: ISS_HHI3276, Row Count: 466
ships_idx: 1016, Ship Number: ISS_HHI3272, Row Count: 431
ships_idx: 1017, Ship Number: ISS_HHI3262, Row Count: 449
ships_idx: 1019, Ship Number: ISS_HHI3252, Row Count: 394
ships_idx: 1020, Ship Number: ISS_HHI3244, Row Count: 538
ships_idx: 1021, Ship Number: ISS_HHI3229, Row Count: 260
ships_idx: 1022, Ship Number: ISS_HHI3283, Row Count: 428
ships_idx: 1023, Ship Number: ISS_HHI3213, Row Count: 431
ships_idx: 1024, Ship Number: ISS_HHI3211, Row Count: 762
ships_idx: 1025, Ship Number: ISS_HHI3196, Row Count: 668
ships_idx: 1026, Ship Number: ISS_HHI3187, Row Count: 537
ships_idx: 1027, Ship Number: ISS_HHI3188, Row Count: 524
ships_idx: 1028, Ship Number: ISS_HMD8314, Row Count: 335
ships_idx: 1029, Ship Number: ISS_HMD8269, Row Count: 151
ships_idx: 1030, Ship Number: ISS_HSHI8020, Row Count: 280
ships_idx: 1031, Ship Number: ISS_HMD8311, Row Count: 332
ships_idx: 1032, Ship Number: ISS_HMD8310, Row Count: 2133
ships_idx: 1033, Ship Number: ISS_HMD8308, Row Count: 384
ships_idx: 1034, Ship Number: ISS_HMD4201, Row Count: 240
ships_idx: 1035, Ship Number: ISS_HMD8298, Row Count: 216
ships_idx: 1036, Ship Number: ISS_HMD8283, Row Count: 286
ships_idx: 1037, Ship Number: ISS_HMD8278, Row Count: 227
ships_idx: 1038, Ship Number: ISS_HMD4196, Row Count: 402
ships_idx: 1039, Ship Number: ISS_HSHIS985, Row Count: 205
ships_idx: 1040, Ship Number: ISS_HSHIS924, Row Count: 103
ships_idx: 1041, Ship Number: ISS_HSHIS874, Row Count: 165
ships_idx: 1042, Ship Number: ISS_HSHIS865, Row Count: 286
ships_idx: 1043, Ship Number: ISS_HSHI8113, Row Count: 552
ships_idx: 1044, Ship Number: ISS_HSHI8110, Row Count: 527
ships_idx: 1045, Ship Number: ISS_HSHI8097, Row Count: 202
ships_idx: 1046, Ship Number: ISS_HSHI8091, Row Count: 526
ships_idx: 1047, Ship Number: ISS_HSHI8070, Row Count: 455
ships_idx: 1048, Ship Number: ISS_HSHI8064, Row Count: 207
ships_idx: 1049, Ship Number: ISS_HSHI8037, Row Count: 430
ships_idx: 1050, Ship Number: ISS_HSHI8050, Row Count: 155
ships_idx: 1051, Ship Number: ISS_HHI3192, Row Count: 702